/* color,estilo letra del body*/
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
background: linear-gradient(to bottom, #9a47ac, #ba58ba);
color: rgb(5, 5, 5);
}
/*centrar imagenes*/
.imagenes{
    text-align: ;
   
    display: flex;
    justify-content: center;
    gap: 9rem;


}
/*tamaño de imagenes*/
.ii {
     width: 250px;
    height: 250px;
}



.y{
   display: flex; 
margin-left: -80px;
border: 0.6 rem solid mediumorchid;

  justify-content: center;
  margin-right: 200p;
}
/* agreagr estilo a los parrafos de la clase y*/
.y p {
 border: 0.6 rem solid mediumorchid;
  margin-right: 250px;
  margin-left: 40px;
}
/* agregar estilo al boton*/
.boton {
    margin-top: 20px;
    background-color: purple;
    padding: 20px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
}
#titulo{
    padding: 10px;
    background-color: purple;
    border-radius: 8px; 
    width: 200px;
    color: burlywood;

}
/*agregar estilo alos titulos h2*/
h2{
      padding: 10px;
    background-color: purple;
    border-radius: 8px; 
    width: 200px;
color: burlywood;
    
}


